{% extends "shopbase.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-5 col-lg-5">
            {% if page == 'login' %}
            <div class="card shadow-sm">
                <div class="card-body p-6">

                    <h2 class="text-center mb-4">Login</h2>

                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="username" class="form-label">
                                Username
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="username"
                                name="username"
                                required
                            >
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">
                                Password
                            </label>
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required
                            >
                        </div>

                        <button type="submit" class="btn btn-dark w-100">
                            Login
                        </button>
                    {% if messages %}
                        {% for message in messages %}
                        <p class="text-center" style="font-size: 19px;">
                            {{ message }}
                        </p>
                        {% endfor %}
                    {% endif %}
                    </form>

                    <p class="text-center mt-3 mb-0">
                        Don't have an account?
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">register</button>
                    </p> 

                    <!-- Dialog -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">register</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form action="{% url 'registerpage' %}" method="POST">
                                {% csrf_token %}
                                <div>
                                    <label for="{{ user_form.first_name.id_for_label }}">first name:</label>
                                    {{ user_form.first_name }} 
                                </div>
                                <div>
                                    <label for="{{ user_form.last_name.id_for_label }}">last name:</label>
                                    {{ user_form.last_name }} 
                                </div>
                                <div>
                                    <label for="{{ user_form.email.id_for_label }}">email:</label>
                                    {{ user_form.email }} 
                                </div>
                                <div>
                                    <label for="{{ profile_form.address.id_for_label }}">address:</label>
                                    {{ profile_form.address }} 
                                </div>
                                <div>
                                    <label for="{{ profile_form.phone_number.id_for_label }}">phone number:</label>
                                    {{ profile_form.phone_number }} 
                                </div>
                                <div>
                                    <label for="{{ uesr_form.password1.id_for_label }}">password:</label>
                                    {{ user_form.password1 }} 
                                </div>
                                <div>
                                    <label for="{{ user_form.password2.id_for_label }}">repeat password:</label>
                                    {{ user_form.password2 }} 
                                </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">
                            Confirm
                            </button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>

        </div>
        {% else %}
            <div class="card shadow-sm">
                <div class="card-body p-6">

                    <h2 class="text-center mb-4">register</h2>

                    <form method="POST">
                        {% csrf_token %}

                            <div>
                                <label for="{{ user_form.first_name.id_for_label }}">first name:</label>
                                {{ user_form.first_name }} 
                            </div>
                            <div>
                                <label for="{{ user_form.last_name.id_for_label }}">last name:</label>
                                {{ user_form.last_name }} 
                            </div>
                            <div>
                                <label for="{{ user_form.email.id_for_label }}">email:</label>
                                {{ user_form.email }} 
                            </div>
                            <div>
                                <label for="{{ profile_form.address.id_for_label }}">address:</label>
                                {{ profile_form.address }} 
                            </div>
                            <div>
                                <label for="{{ profile_form.phone_number.id_for_label }}">phone number:</label>
                                {{ profile_form.phone_number }} 
                            </div>
                            <div>
                                <label for="{{ user_form.password1.id_for_label }}">password:</label>
                                {{ user_form.password1 }} 
                            </div>
                            <div>
                                <label for="{{ user_form.password2.id_for_label }}">repeat password:</label>
                                {{ user_form.password2 }} 
                            </div>
                            <br>
                        <button type="submit" class="btn btn-dark w-100">
                            register
                        </button>
                    {% if user_form.email.errors %}
                        {% for error in user_form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if user_form.non_field_errors %}
                        {% for error in user_form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if user_form.email.errors %}
                        {% for error in user_form.email.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if user_form.password1.errors %}
                        {% for error in user_form.password1.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if user_form.password2.errors %}
                        {% for error in user_form.password2.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if profile_form.address.errors %}
                        {% for error in profile_form.address.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if profile_form.phone_number.errors %}
                        {% for error in profile_form.phone_number.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
