{% extends "shopbase.html" %}

{% load i18n %}



{% block title %}
{% translate "Orders" %}
{% endblock %}

{% block content %}
<div class="container py-5">

    <h2 class="mb-4">
        {% translate "My Orders" %}
    </h2>

    {% for order in orders %}

    <div class="card mb-3 shadow-sm">
        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">

                <a href="{% url "order_details" order.id %}" class="text-decoration-none text-dark">
                    <h5 class="card-title mb-1">
                        {% translate "Order" %} <span dir="ltr">#{{ order.id }}</span>
                    </h5>

                    <p class="mb-0 text-muted">
                        {% translate "Total:" %}
                        <strong dir="ltr">${{ order.total }}</strong>
                    </p>
                </a>


                <div>
                    {% if order.status == "PENDING" %}
                        <span class="badge text-bg-warning">
                            {{ order.get_status_display }}
                        </span>

                    {% elif order.status == "CONFIRMED" %}
                        <span class="badge text-bg-primary">
                            {{ order.get_status_display }}
                        </span>

                    {% elif order.status == "SHIPPED" %}
                        <span class="badge text-bg-info">
                            {{ order.get_status_display }}
                        </span>

                    {% elif order.status == "DELIVERED" %}
                        <span class="badge text-bg-success">
                            {{ order.get_status_display }}
                        </span>

                    {% elif order.status == "CANCELLED" %}
                        <span class="badge text-bg-danger">
                            {{ order.get_status_display }}
                        </span>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

    {% empty %}

    <div class="alert alert-secondary">
        {% translate "You don't have any orders yet." %}
    </div>

    {% endfor %}

</div>
{% endblock %}