{% extends 'shopbase.html' %}
{% load i18n %}
{% block title %}{% translate "product" %} {{product.id}}{% endblock title %} 
{% block content %}
<section class="py-4 py-md-5 mx-auto card mt-3 mt-md-5 mb-3 mb-md-5"
         style="max-width: 950px;">
    <div class="container px-3 px-md-5 my-2 my-md-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <!-- Product image -->
            <div class="col-12 col-md-6 mb-4 mb-md-0 text-center">
                <img
                    class="img-fluid rounded"
                    src="{{ product.image.url }}"
                    alt="{{ product.name }}"
                    style="max-height: 400px; object-fit: contain;"
                />
            </div>

            <!-- Product info -->
            <div class="col-12 col-md-6">
                <h1 class="display-6 display-md-5 fw-bolder">
                    {{ product.name }}
                </h1>

                <div class="fs-4 fs-md-5 mb-4">
                    <span>${{ product.price }}</span>
                </div>

                <p class="lead mb-4">
                    {{ product.description }}
                </p>

                <div class="d-flex">
                    <form hx-post="{% url 'add_to_cart' %}" hx-swap="innerHTML" hx-target="#item_count">
                        {% csrf_token %}

                        <input
                            type="hidden"
                            name="product_id"
                            value="{{ product.id }}"
                        >

                        {% comment %} <input
                            type="hidden"
                            name="page"
                            value="{% url 'product_details' product.id %}"
                        > {% endcomment %}

                        <button
                            class="btn btn-outline-dark flex-shrink-0"
                            type="submit"
                        >
                            <i class="bi-cart-fill me-1"></i>
                            {% translate "Add to cart" %}
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}