{% extends 'shopbase.html' %}
{% block title %}product {{product.id}}{% endblock title %} 
{% block content %}
        <section class="py-5 mx-auto card mt-5 mb-5" style="max-width: 950px;max-height: 500px;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src= "{{product.image.url}}"  alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{product.price}}</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}